<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <img src="https://img.freepik.com/vetores-gratis/conjunto-plano-de-analise-de-dados-de-icones-isolados-de-pessoas-de-documentos-com-varios-graficos-e-graficos-lineares-ilustracao-vetorial_1284-74073.jpg?w=826&t=st=1683337066~exp=1683337666~hmac=e3a7b3a0660c5683f457768ecf2ff5a84f4529309e3365e39e2f0c150c264c12" alt="Imagem de navegação">
        <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="home">
           <i class="material-icons">home</i> 
           Home
        </a>
        <a mat-list-item routerLink="/">
            <i class="material-icons">account_circle</i> 
            Técnicos
         </a>
         <a mat-list-item routerLink="/">
            <i class="material-icons">person</i> 
            Clientes
         </a>
         <a mat-list-item routerLink="/">
            <i class="material-icons">code</i> 
            Github
         </a>
         <a mat-list-item routerLink="/">
            <i class="material-icons">logout</i> 
            Logout
         </a>

     </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
  
  